* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v18_99 {
  width: 375px;
  height: 812px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
.v18_100 {
  width: 375px;
  height: 812px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 0px solid rgba(0,0,0,1);
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  overflow: hidden;
}
.v18_124 {
  width: 320px;
  height: 50px;
  background: url("../images/v18_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 601px;
  left: 28px;
  overflow: hidden;
}
.v18_125 {
  width: 320px;
  height: 50px;
  background: rgba(65,103,176,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_126 {
  width: 170px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 75px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v18_127 {
  width: 320px;
  height: 50px;
  background: url("../images/v18_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 671px;
  left: 28px;
  overflow: hidden;
}
.v18_128 {
  width: 320px;
  height: 50px;
  background: rgba(255,197,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v18_129 {
  width: 51px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 19px;
  left: 134px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v18_130 {
  width: 125px;
  color: url("../images/v18_130.png");
  position: absolute;
  top: 751px;
  left: 125px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 1;
  text-align: center;
}
.v18_135 {
  width: 320px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 464px;
  left: 27px;
  font-family: Poppins;
  font-weight: Regular;
  font-size: 14px;
  opacity: 0.800000011920929;
  text-align: center;
}
.v18_136 {
  width: 232px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 425px;
  left: 61px;
  font-family: Poppins;
  font-weight: SemiBold;
  font-size: 20px;
  opacity: 1;
  text-align: center;
}
.v24_0 {
  width: 312px;
  height: 305px;
  background: url("../images/v24_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80px;
  left: 31px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}
